#main{
  display: flex;
  flex-direction: column;
}

#main h1{
  align-self: center;
}

#restartButton{
  display: none;
}

#game{
  width:640px;
  height: 640px;
  align-self: center;
  display: none;
}

#game div {
  justify-content: center;
  border: 1px solid black;
  width: 25%;
  height: 20%;
  margin: 10px;
  display: inline-block;
  text-align: center;
} 
